################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/bin/Release
/Lab1/bin/Debug
/Lab1/obj/Release
/Lab1/obj/Debug
/Lab1/.vs/
